/* Pagination.css */
.pagination .page-link {
    color: white !important;
  }
  
  .pagination .page-link:hover {
    color: white !important;
  }
  
  .pagination .page-item.active .page-link {
    color: white !important;
    background-color: #007bff; /* Cambia esto al color de fondo que prefieras */
    border-color: #007bff; /* Cambia esto al color del borde que prefieras */
  }